body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula {
	float: left;
	width: 300px;
	margin: 10px;
	
}

.stars {
	float: right;
	width: 300px;
	margin: 10px;

}